/**
 * Correct Contacts Admin Styles
 *
 * @package   daandev/correct-contacts
 * @author    Daan van den Bergh
 * @copyright © 2025 Daan van den Bergh
 */

/**
 * Import Google Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&family=Public+Sans:wght@400;600&display=swap');

/**
 * Typography
 */
#wpwrap {
	background-color: rgb(248 250 252 / 1);
}

.cc-admin {
	font-family: 'Public Sans', Arial, sans-serif;
	max-width: 1350px;
}

.cc-admin h1 {
	font-family: 'Poppins', Verdana, sans-serif;
	font-weight: 800;
}

.cc-admin h2,
.cc-admin h3,
.cc-admin h4,
.cc-admin h5,
.cc-admin h6 {
	font-family: 'Poppins', Verdana, sans-serif;
	font-weight: 500;
}

/**
 * Buttons
 */
.cc-admin .button {
	font-family: 'Poppins', Verdana, sans-serif;
	border-radius: 10px;
	font-weight: 500;
}

.cc-admin #submit {
	background: #00adda;
	border: 0;
	padding: 7px 20px;
}

.cc-admin #submit:hover {
	background-color: #0099cc;
}

/**
 * Settings Container
 */
.cc-settings-container {
	background-color: #fff;
	padding: 5px 25px 50px;
	margin: 2.5em auto 2em;
	overflow: visible;
	border: 0;
	border-top: 4px solid #00adda;
	border-radius: 10px;
	box-shadow: 0px 10px 20px 1px #ccc;
}

.cc-settings-container .form-table tr {
	position: relative;
}

.cc-settings-container .form-table tr td {
	padding: 20px 0;
}

.cc-settings-container p,
.cc-settings-container ul {
	text-align: justify;
	font-size: 14px;
}

.cc-settings-container .form-table th {
	font-weight: 600;
}

/**
 * Form Elements
 */
.cc-admin input[type="text"],
.cc-admin input[type="checkbox"],
.cc-admin select {
	font-family: 'Public Sans', Arial, sans-serif;
}

.cc-admin .regular-text {
	width: 100%;
	max-width: 500px;
}

/**
 * Select2 Customization
 */
.cc-admin .select2-container {
	font-family: 'Public Sans', Arial, sans-serif;
}

.cc-admin .select2-container--default .select2-selection--multiple {
	border-radius: 5px;
	border-color: #8c8f94;
}

.cc-admin .select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #00adda;
	box-shadow: 0 0 0 1px #00adda;
}

.cc-admin .select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #00adda;
	border-color: #0099cc;
	color: #fff;
	border-radius: 5px;
    padding: 3px 0 2px 15px;
    margin-top: 3px;
}

.cc-admin .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #fff;
    margin-right: 8px;
    padding: 4px 5px;
    border-right: none;
}

.cc-admin .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	color: #fff;
}

/**
 * Responsive
 */
@media only screen and (max-width: 782px) {
	.cc-settings-container {
		margin: 20px 0;
	}
}
