.cc-loading {
    background: url(../images/loading.gif) no-repeat 98% !important;
    background-size: 25px !important;
}

.cc-warning {
    background: url(../images/exclamation-mark.png) no-repeat 98% !important;
    background-size: 25px !important;
}

.cc-success {
    background: url(../images/green-check.png) no-repeat 98% !important;
    background-size: 25px !important;
}

.cc-message {
    padding: 5px 10px 0;
}
