.edd-truemail-loading {
    background: url(../images/loading.gif) no-repeat 98% !important;
    background-size: 25px !important;
}

.edd-truemail-error {
    background: url(../images/red-cross.png) no-repeat 98% !important;
    background-size: 25px !important;
}

.edd-truemail-success {
    background: url(../images/green-check.png) no-repeat 98% !important;
    background-size: 25px !important;
}